In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException, ElementClickInterceptedException
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup
import requests

OB
삼성
MBC
해태
롯데
삼미
해태
MBC
삼미
삼성
OB
롯데
롯데
삼성
OB
MBC
해태
삼미
삼성
롯데
해태
OB
MBC
청보
해태
삼성
MBC
OB
롯데
청보
빙그레
해태
삼성
롯데
OB
MBC
빙그레
청보
해태
빙그레
롯데
삼성
OB
MBC
태평양
해태
빙그레
태평양
삼성
OB
MBC
롯데
LG
삼성
해태
빙그레
태평양
롯데
OB
해태
빙그레
삼성
롯데
태평양
쌍방울
LG
OB
롯데
빙그레
해태
삼성
OB
태평양
LG
쌍방울
해태
삼성
OB
LG
빙그레
롯데
쌍방울
태평양
LG
태평양
한화
해태
삼성
롯데
OB
쌍방울
OB
롯데
LG
해태
삼성
한화
태평양
쌍방울
해태
현대
쌍방울
한화
롯데
삼성
LG
OB
해태
LG
쌍방울
삼성
OB
현대
한화
롯데
현대
LG
삼성
OB
해태
쌍방울
한화
롯데
롯데
한화
두산
삼성
현대
LG
해태
쌍방울
현대
LG
두산
롯데
삼성
한화
해태
SK
두산
삼성
현대
한화
KIA
LG
SK
롯데

In [ ]:
# 콥보 박스 선택
combobox = driver.find_element(By.CSS_SELECTOR, '#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')
# combobox = driver.find_element(By.CSS_SELECTOR, '#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')
# 콤보박스 안의 옵션들 선택
options = combobox.find_elements(By.TAG_NAME, 'option')[1:]
# print(len(options))
# 팀 이름 출력
teams = [option.text for option in options]
    
teams

['OB', '삼성', 'MBC', '해태', '롯데', '삼미']

,순위,선수명,팀명,AVG,G,PA,AB,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,year
0,1,박종호,OB,0.5,4,5,4,2,0,0,0,2,0,0,1,0,0,1,2,1982
1,2,윤동균,OB,0.342,77,334,284,97,20,5,8,47,9,2,45,1,27,3,2,1982
2,3,신경식,OB,0.334,78,320,293,98,21,3,4,54,14,8,20,3,17,2,6,1982
3,4,구재서,OB,0.333,34,3,3,1,0,0,0,0,1,1,0,0,0,0,0,1982
4,5,김우열,OB,0.31,62,255,210,65,8,0,13,41,14,4,38,6,25,0,0,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,26,가득염,롯데,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2001
26,26,강상수,롯데,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2001
27,26,김무성,롯데,0.000,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,2001
28,26,김사율,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2001
29,26,김영수,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2001